{{#each error}}
    <div class="alert alert-danger">{{texto}}</div>
    {{else}}
{{/each}}

<h3>Editar Categoria:</h3>
    <div class="card">
<div class="card-body">
    <h2>Lista de categorias: </h2>
<hr>
<form action="/admin/categorias/edit" method="post">
<input type="hidden" name="id" value="{{categoria._id}}">
<label for="nome">Nome: </label>
<input type="text" name="nome" id="nome" placeholder="Nome de Categorias" class="form-control" value="{{categoria.nome}}"> 
<label for="Slug">Slug: </label>
<input type="text" name="slug" id="slug" placeholder="Slug da categoria" class="form-control" value="{{categoria.slug}}">
<br>
<a href="/admin/categorias/add"><button class="btn btn-sucess">Editar categoria</button></a>
</form>
    </div>
</div>